<div class="card mat-card" id="first-card">
    <div id="profile-background"><img src="fondo.jpg" alt=""></div>
    
    <div id="info">

        <div id="info-img">
            <img class="profile-img" src="p1.jpeg">
            <div id="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>

        <div id="info-data">

            <div>
                <div class="nombre-completo">
                    <p id="Nombre">Cristian</p><p id="Apellido">Romero</p>
                </div>
               
                <div id="info-company">Freelancer</div>

                <div id="info-contact">
                    <span>Buenos Aires, Argentina</span>
                    <span><a href="#">Info de contacto</a></span>
                </div>
            </div>

         
    <!--   <ul id="info-details">
                <li><a href="#">
                    <img src="" alt="">
                    <p>Programador full stack Jr</p>
                </a></li>
                <li><a href="#">
                    <img src="" alt="">
                    <p>Juan XXIII - Técnico en informaática</p>
                </a></li>
            </ul>-->
        </div>

        <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interés en</button>
            <button type="button" class="btn btn-light">Añadir sección</button>
            <button type="button" class="btn btn-light">Más</button>
        </div>

    </div>

</div>
