<div class="wrap-header">
    <img src="../../../assets/APLogo.png" alt="" id="logoAP">
    <div class="icons-header"> 
        <a href=""><img src="../../../assets/linkedin.png" id="as"></a> 
        <a href=""><img src="../../../assets/twitter.png" id=""></a> 
        <a href=""><img src="../../../assets/instagram.png" id=""></a> 
        <a href=""><img src="../../../assets/github.png" id=""></a> 
        <a href=""><img src="../../../assets/facebook.png" id=""></a> 
    </div>
</div>

<div class="card mat-card" id="first-card">
 <!--
 <div id="profile-background"><img  [src]="miPortfolio.backImage"></div>
 -->  
   <div class="image-area">
		<div class="img-wrapper">
			<img src="../../../assets/fondo11.jpg" alt="Atul Prajapati">
			<h2><span>Soy Programador</span></h2>
			<ul>
				<li><i class="fab fa-js"></i></li>
				<li><i class="fa-brands fa-css3-alt"></i></li>
				<li><i class="fa-brands fa-angular"></i></li>
				<li><i class="fa-brands fa-node"></i></li>
			</ul>
    	</div>
	</div> 
    <div id="info">

        <div id="info-img">
            <img class="profile-img" [src]="miPortfolio.image">
            <div id="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>

    

        <div class="wrap-datos">
                    <p  class="nombre-completo">{{persona.nombre}} {{persona.apellido}}</p>
                    <p id="info-company">Programador Freelancer</p>

                    <p id="info-contact">
                        <span>Buenos Aires, Argentina</span>
                        <span><a href="#">Info de contacto</a></span>
                    </p>
            
        </div>
         
    <!--   <ul id="info-details">
                <li><a href="#">
                    <img src="" alt="">
                    <p>Programador full stack Jr</p>
                </a></li>
                <li><a href="#">
                    <img src="" alt="">
                    <p>Juan XXIII - Técnico en informaática</p>
                </a></li>
            </ul>-->
       

        <div id="info-actions">
            <button type="button" class="">Tengo interés en</button>
            <button type="button" class="">Añadir sección</button>
            <button type="button" class="">Más</button>
        </div>

    </div>

</div>
