<div class="card mat-card" id="card-experiencia">
    <h2>Proyectos realizados</h2>

    <div class="row">
  
        <div class="col-sm-12 col-md-5 col-lg-5 parte1" *ngFor="let proyecto of proyectoList">
     
           <div class="one mt-2"><p class="titulo">{{proyecto.nombre}}</p></div> 
            <p class="link-proyecto"><a [href]="proyecto.end" target="_blank">visitar proyecto</a></p>
            <div class="p-descripcion"><p>{{proyecto.descripcion}}</p></div> 
           <div class="col-sm-12 col-md-12 col-lg-12 parte2">
               <img [src]="proyecto.img" class="img-fluid">
            </div>

        </div>
    </div>

    
</div>

 
 