
<div class="card mat-card" id="card-experiencia">
    <h2>Proyectos realizados</h2>
    <div class="row">
        
        <div class="col-sm-12 col-md-6 col-lg-6 parte1" >
     
                <p class="titulo">Gestión de pedidos y entregas en repartos de agua</p>
                <p><a href="https://bidonesmono.netlify.app" target="_blank">visitar proyecto</a></p>
                <p>Gestiónar puntos de entregas, generación automática de rutas, y registro de clientes
                    es lo principal que brinda esta webapp mejorando la experiencia del cliente en susoperaciones diarias.
                    La construcción del sitio se implementó en Angular disfrutando de sus ventajas adaptándose perfectamente 
                    a nuestras necesidades.
    
                    Diseño, maquetado en html y css, enfocado en el usuario para una más fácil navegación y para guiarlo a través de su proceso de 
                    acceso a la información del funcionamiento. 
                </p>
               <div class="col-sm-12 col-md-12 col-lg-12 parte2"><img src="../../../assets/4.png" class="img-fluid"></div>
    
        </div>
    
        <div class="col-sm-12 col-md-6 col-lg-6 parte1">
    
            
                <p >Venta de bebidas online 24/7</p>
                <p><a href="https://bebidasya.netlify.app" target="_blank">Visitar proyecto</a></p>
                <p>Practica de experiencia digital en venta de bebidas online, procesamiento de transacción y envíos.
                    Reducí costos, interactuar con tus clientes,  expandir su productividad y optimizar sus procesos, recursos y 
                    costos sin tener que ampliar su personal a través de la implementación de esta 
                    herramienta digital/soluciones tecnológicas personalizadas adaptada 
                    a las necesidades del cliente en base a metodologías y tecnologías de avanzada.
                </p>
           
    
            <div class="col-sm-12 col-md-12 col-lg-12 parte2"><img src="../../../assets/5.png" class="img-fluid"></div>
    
        </div>
    </div>
</div>

