#card-experiencia{
    border-radius:10px;   

    background: url('../../../assets/exp/12.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border:solid  3.5px black; 
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    
  }
  .wrap-data{
   margin-bottom: 30px;
  }
  .wrap-data p{
    display:inline;
    color:black;
    margin-right: 20px;
    
  }
  #title{
    font-weight: 600;
  }
  #puesto{
    font-size:20px;letter-spacing: -1px;
  }
  /*----*/
  
  @media (max-width:820px){
 
    .wrap-data p{
    height:15px;
      margin-right: 0; 
    }
    .wrap-data{
      display:flex; flex-direction: column;
      
     }
  }