#card-experiencia{
      background: url('../../../assets/exp/12.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     border:solid  3.5px black; 
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    
    margin:0 50px; 
  } 
  .wrap-data{
   margin-bottom: 30px;
  }
  .wrap-data p{
    display:inline;
    color:black;
    margin-right: 20px;
    
  }
  #title{
    font-weight: 600;padding-left:10px;
  }
  #puesto{
    font-size:20px;letter-spacing: -1px;
  }
  /*----*/
  
.img-tres{background-image:url("../../../assets/educacion/p4.jpg")}

  @media (max-width:820px){
    #card-experiencia{
 
    margin:0; 
  } 
    .wrap-data p{
    height:15px;
      margin-right: 0; 
    }
    .wrap-data{
      display:flex; flex-direction: column;
      
     }
     #title{
       padding-left:0;
    }
  }