<div class="card mat-card" id="card-proyectos">
    
    <h2 class="m-3">Hard & Soft Skills</h2>  
     <div class="row">
       
         <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let proyecto of proyectoList">
            <h3 class="text-center">{{proyecto.skill}}</h3>
            <circle-progress
            [percent]="90"
            [radius]="75"
           
            [imageSrc]="proyecto.img" 
            [showImage]="true" 
            [imageHeight]="88"
            [imageWidth]="88"
    
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
    <!--
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h3 class="text-center">Front end</h3>
            <circle-progress
            [percent]="90"
            [radius]="75"
           
            [imageSrc]="'../assets/ang2.png'" 
            [showImage]="true" 
            [imageHeight]="88"
            [imageWidth]="88"
    
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
    
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h3 class="text-center">Back end</h3>
            <circle-progress
            [percent]="90"
            [radius]="75"
           
            [imageSrc]="'../assets/node2.png'" 
            [showImage]="true" 
            [imageHeight]="88"
            [imageWidth]="88"
    
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
    
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h3 class="text-center">Hoisting</h3>
            <circle-progress
            [percent]="90"
            [radius]="75"
           
            [imageSrc]="'../assets/git2.png'" 
            [showImage]="true" 
            [imageHeight]="111"
            [imageWidth]="131"
    
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
    
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h3 class="text-center">Idiomas x 3</h3>
            <circle-progress
            [percent]="90"
            [radius]="75"
           
            [imageSrc]="'../assets/idioms.png'" 
            [showImage]="true" 
            [imageHeight]="111"
            [imageWidth]="111"
    
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
    
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h3 class="text-center">Conversational skills</h3>
            <circle-progress
            [percent]="90"
            [radius]="75"
           
            [imageSrc]="'../assets/grupal.png'" 
            [showImage]="true" 
            [imageHeight]="95"
            [imageWidth]="95"
    
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div> 
    -->
       
        
    </div>
</div> 
  

     

<!--
          [titleColor]="'red'"
          [titleFontSize]="'2em'"
          [title]="'HTML'" 
-->
