<div class="card mat-card" id="card-experiencia">

    <div class="card-titles">
        <h2>Educación</h2>
        <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
        </div>
    </div>

    <ul class="items-list">
       <li>
        <div class="data-container">
          
                <div class="logo-image-container">
                    <img class="logo-image" src="logojuan.jpg">
                </div>
                <div class="list-info">
                  <div>
                     <h3>Juan XXIII</h3>
                     <p>Tecnico en informatica personal y profesional</p>
                     <p><time>2002</time> - <time>2005</time></p>
                  </div>
                </div>
                <div class="data-control">
                    <div class="btn-edit">
                        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                    </div>
                </div>
             
        </div>
       </li>
    </ul>

    <input type="text" id="edit-acercade" oninput="myFunction2(this.value)" style="display:none">

</div>