<h1 class="m-2 text-center">Agregar Habilidad</h1>
<div class="row">

  <div class="col-lg-3"></div>
  <div class="col-lg-6">

    <form (ngSubmit)= "onSubmit()">
      <div class="form-group">
        <label>Habilidad : </label>
        <input type="text" class="form-control" id="habilidad" [(ngModel)]="skill.habilidad" name="habilidad" required
          minlength="4" maxlength="10" placeholder="Digite su habilidad " #nombre="ngModel">

      </div>

      <div class="form-group">
        <label>img : </label>
        <input type="text" class="form-control" id="img" [(ngModel)]="skill.img" name="img" required minlength="4"
          maxlength="10" placeholder="Digite su img " #apellido="ngModel">

      </div>

      <button class="btn btn-success">Guardar</button>
    </form>


  </div>
  <div class="col-lg-3"></div>
</div>