.wrap{
  background-color: black;
  height: 100vh;
 
}
.wrap-todo{
  padding-top: 50px;
}
.wrap-col-form{
  
   display: flex;justify-content: right;
}
div#MainLogin { 
  border-radius: 4px;
  box-shadow: -5px 4px 1px tomato;
  overflow: hidden;
 
  place-items: center;
  
  text-align: center;
  display: grid;
  background: linear-gradient(45deg, #22a6b3, #30336b);
  
  transform: skew(0deg, -3deg);
  transition: transform 0.4s;

  width:400px;padding:20px 10px 30px 10px;
}

div#MainLogin:hover{
transform:skew(0deg, 0deg);
}

.OuterLogin input {
  display: block;
  text-align: left;
  border: 2px solid tomato;
  margin: 9px 0px;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px;
}

.OuterLogin {
  text-align: left;
}

.TopLogin p {
  font-family: arial;
  font-size: 40px;
  color: white;
}

.OuterLogin label {
  font-family: sans-serif;
  color: azure;
  font-size: 19px;
}
input#sb {
  margin: auto;
  margin-top: 14px;
  cursor: pointer;
  background: tomato;
  outline: none;
  border: none;
  border-radius: 31px;
  color: #ffffff;
  font-size: 18px;
  font-family: monospace;
  padding: 11px 124px;
}
/*------------*/
.wrap-mierrorlink {
 display: block;
 
 } 
.wrap-mierrorlink .wrap-linkazo .info-enlace {
 font-size: 18px;line-height:18px;
} 
.wrap-mierrorlink .wrap-linkazo .info-enlace span{
  font-size: 18px;
  font-weight: 600;
 }  
 .enlace1{
   font-size: 30px;line-height:25px;
 }
 .enlace2{
  font-size: 20px;line-height:15px;
 }
.wrap-mierrorlink h6{
  color:rgb(252, 6, 6);
  width:70%;
  text-align: center; 

} 
.wrap-mierrorlink p a, .wrap-mierrorlink h3 a{
  text-decoration: none;  
}
.wrap-linkazo  {
  text-align:center;
  margin: 30px;
  padding:5px;
  border: 3px solid tomato;
  background-color: white;
  width:60%;
 }

@media (max-width:820px) {
  .wrap-col-form{
   justify-content: center;
 }
 .wrap-linkazo  {

  width:75%;
  margin: 10px auto;
 }
 .wrap-mierrorlink h6{
   margin: 25px auto 10px auto;
  color:rgb(252, 6, 6);
  width:80%;
  text-align: center;
} 
}