<ul class="items-list">
    <li>
     <div class="data-container">
       
             <div class="logo-image-container">
                 <img class="logo-image" [src]="">
             </div>
             <div class="list-info">
               <div class="wrap-data">
                  <p id="institucion">---</p>
                  <p id="title">---</p>
                  <p id="time"><time>----</time> - <time>-----</time></p>
               </div>
             </div>

             <!--
             <div class="data-control">
                 <div class="btn-edit">
                     <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                 </div>
             </div>
             -->
          
          
     </div>
    </li>
 </ul>
